.sec_padding {
	padding: 4.5rem 0;
}

.act {
	border: 1px solid red;
	z-index: 1000;
}

.sec_grey {
	background-color: #f5f5f5;
}

.sec_pop {
	background-image: -webkit-linear-gradient(
		153deg,
		#5100cb 0,
		#6500fc 42%,
		#9617c9 75%,
		#d33092 100%
	);

	background-image: -moz-linear-gradient(
		153deg,
		#5100cb 0,
		#6500fc 42%,
		#9617c9 75%,
		#d33092 100%
	);

	background-image: -ms-linear-gradient(
		153deg,
		#5100cb 0,
		#6500fc 42%,
		#9617c9 75%,
		#d33092 100%
	);

	background-image: -o-linear-gradient(
		153deg,
		#5100cb 0,
		#6500fc 42%,
		#9617c9 75%,
		#d33092 100%
	);

	background-image: linear-gradient(
		153deg,
		#5100cb 0,
		#6500fc 32%,
		#9617c9 75%,
		#d33092 100%
	);
}

.wrapper {
	width: 85%;
	max-width: none; /*used to overwritter bootstrap max width on container*/
	overflow: none;
	margin: auto auto;
}

.sec_title_box h2 {
	font-size: 3.2rem;
	font-weight: bold;
}

header {
	background-color: grey;
	position: fixed;
	width: 100%;
	z-index: 500;
}

.nav_space {
	padding: 0.5rem 0;
}

.brand {
	color: white;
	font-weight: bold;
	font-size: 1.6rem;
	cursor: pointer;
}

.adjust {
	/*works because nav enforces flex-flow of column*/
	align-items: center;
}
.nav_text {
	color: white;
	font-size: 1.4rem;
	margin-right: 2rem;
}
